@font-face {
  font-family: 'Windsong';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Windsong'), url(windsong.woff2) format('woff2'), url(windsong.woff) format('woff');
}
